{%extends 'base.html'%}
{{block.supper}}
{% load bootstrap4%}
{%block content%}
{%include 'navbar.html'%}

<div  class="container prof">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          {%for i in pic%}
          <img class="img-fluid rounded-circle" src="{{i.pic.url}}" alt="profile">
          {%endfor%}
        </div>
        <div class="col-md-8">

          <div class=" idea">
            {%for user in users%}
            <a>{{user.username}}</a>
            <form id="follow" class="form-group" action="/profile/user/{{user.id}}/" method="post">
              {%csrf_token%}
              {%bootstrap_form form%}
              <input type="hidden" name="current" value="{{user.id}}">
              <button type="submit" class="btn follow btn-light">Follow </button><span id="close">{{all}} Followers</span>

            </form>
            {%endfor%}


          </div>

          {%for i in pic%}
          <p>Current status</p>
          <p>{{i.bio}}</p>
          {%endfor%}




        </div>

      </div>
      <br>
      <hr class="info">
      <div class="tags">
        <a href="#"><i class="far fa-newspaper"></i> Posts</a><a href="#"><i class="far fa-newspaper"></i> Saved</a>
      </div>
     </div>
    <div class="col-md-1"> </div>

  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="row">
        {%if profile%}
        {%for photo in profile%}
        <div class="col-md-6">
          <div class="image">
          <a href="/stories/comment/{{photo.id}}"><img class="img-fluid" src="{{photo.image.url}}" alt=""></a>
            </div>
          </div>

        {%endfor%}
        {%else%}
        <div class="alert">
          <p class="animated fadeIn alert alert-info">This User has not shared any Pictures <br>
        </p>

        </div>
        {%endif%}

      </div>
    </div>
    <div class="col-md-1"></div>

  </div>
</div>

<div class="container"style="width:100%; ">
    <!-- Footer -->
    <footer class="footer" >
      <div class="row">
          <!-- Copyright -->
          <div class="footer-copyright py-3 insta_footer"style="padding-left:150px;"> 
              <a href="">ABOUT US</a>
              <a href="">SUPPORT</a>
              <a href="">PRESS</a>
              <a href="">API</a>
              <a href="">JOBS</a>
              <a href="">PRIVACY</a>
              <a href="">TERMS</a>
              <a href="">DIRECTORY</a>
              <a href="">PROFILES</a>
              <a href="">HASHTAGS</a>
              <a href="">LANGUAGE</a>
              <span> <strong> © 2019 THE_INSTA_GRAM </strong></span>
    
          </div>
          <!-- Copyright -->
      </div>
    </footer>
</div>


{%endblock%}
