{%extends 'base.html'%}
{%load static%}
{{block.super}}
{%block content%}
{%include 'navbar.html'%}


   <div  class="container ">
     <img src="static/img/svg/in.svg" alt="">
     <div class="row">
       <div class="col-md-7 contain">
         {%if founds%}
          <p>Marched {{founds|length}} related  Posts</p>
          {%else%}
          <p class="alert alert-info animated fadeIn">User {{term}} Has no photos to share or has no profile!</p>
          {%endif%}
         <div class="searched">
           {%for user in founds%}
            <p><strong>{{user.user}}'s </strong>Posts <a href="/profile/user/{{user.user.id}}">Visit profile</a></p>
            <img class="img-fluid" src="{{user.image.url}}" alt="">
            <p></p>
           {%endfor%}
         </div>
       </div>
       <div class="col-md-5 ">
         <div class="contain">


         <div class="login">
           <form class="form-group" action="" method="post">
             <h1>Instagram Search</h1>

               <br>


             <img src="" alt="">
             <br><br><br><br>
           </form>

         </div>

         <div class="open">
           <ul class="list-group">
             <li class="list-group-item">Dint find any results? <a href="">Go back Home</a></li>

           </ul>

         </div>




       </div>




       </div>

     </div>
     
   </div>
   <div class="container"style="width:100%; ">
    <!-- Footer -->
    <footer class="footer" >
      <div class="row">
          <!-- Copyright -->
          <div class="footer-copyright py-3 insta_footer"style="padding-left:150px;"> 
              <a href="">ABOUT US</a>
              <a href="">SUPPORT</a>
              <a href="">PRESS</a>
              <a href="">API</a>
              <a href="">JOBS</a>
              <a href="">PRIVACY</a>
              <a href="">TERMS</a>
              <a href="">DIRECTORY</a>
              <a href="">PROFILES</a>
              <a href="">HASHTAGS</a>
              <a href="">LANGUAGE</a>
              <span> <strong> © 2019 THE_INSTA_GRAM </strong></span>
    
          </div>
          <!-- Copyright -->
      </div>
    </footer>
    </div>
{%endblock%}
